h1{
    text-align: center;
    color: red;
}
.imgHeader{
    width: 30px;
    height: 30px;
    display: inline;
   
}
.title {
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-top: 14rem;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    font-family: sans-serif;
}
.inputEmail{
    display: flex;
    margin: 0 auto;
    height: 25px;
}
.hEmail{
    font-weight: bold;
    font-size:9px;
    text-align: center;
    margin: 0 5.7rem 0 0;
    font-family: sans-serif;
    color: gray;
}
.inputPassword{
    display: flex;
    margin: 0 auto;
    height: 25px;
    
}
.hPassword{
    font-weight: bold;
    font-size:9px;
    text-align: center;
    margin: 0 7rem 0 0;
    font-family: sans-serif;
    color: gray;
}
.btnLogin{
    margin: 0 auto;
    display: flex;
    background-color: black;
    color: white;
    width: 170px;
    border-radius: 12px;
    font-family: sans-serif;
    
}
.login{
    margin: 7 auto;
    font-size: 11px;
}
/* a{
    text-align: center;
    color: gray;
    font-size: 12px;
    display: block;
    width: 200px;
    margin: 0.65rem 0 0 32.5rem;
} */
.ForgotPassword{
    margin: 1rem 0 0 58rem;
    font-size: 12px;
    color: gray;
    text-decoration: gray;
}
.Register{
        font-size: 12px;
        margin: 2rem 0 0 55.99rem;
}
.shopify-section-header{
    display: block;
}
.nav {
    text-align: center;
    margin: 0 0 0 -3.5rem;
   color: gray;
  }

  .nav li {
    display: inline-block;
    font-size: 18px;
    margin: 0 1rem 0 1rem;
  }
.Styles__Container{
    color: gray;
    display: inline-block
}
